* {
  /*窗口总是有空白边距，设置了这个才好了*/
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
#app {
  /*这里只需要设置高度100%就行，宽度不知道为啥自适应了*/
  height: 100vh;
  overflow: hidden;
  background-color: #b4b4e7;
}
